body{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background-color: #0d54c7;
	text-align: center;
	color: #41d572;;
}
h1, h4, p{
	color: #4bacd5;
}
.title, .main, .bottom{
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(62,78,78,0.5);
}

.music{
	width: 800px;
	height: 22px;
	background-color: #347ebf;
}
.name, .auther, .note{
	height: 20px;
	float: left;
}
.name{
	width: 200px;
	background-color: rgba(10, 10, 10, 0.2);
}
.auther{
	width: 300px;
	background-color: rgba(20, 20, 20, 0.3);
}
.note{
	width: 300px;
	background-color: rgba(10, 10, 10, 0.2);
}

#axis{
	width: 600px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	border: #00aaff 1px solid;
}
#axis-inner{
	width: 600px;
	height: 20px;
	background-color: #21ba45;
}

#panel{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.panel{
	width: 120px;
	height: 20px;
	float: left;
	background-color: rgba(10, 10, 10, 0.3);
}
